<section>
    <tool-bar></tool-bar>
    <div class="body-content">
        <h2>Envie sua proposta</h2>
    <card-ticket></card-ticket>
    <div class="form-page">
        <form action="" method="post">
           
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="input para valor de oferta" fontIcon="wallet"></mat-icon>
                <input type="text" name="name" placeholder="R$ informe o valor da oferta">
            </div>
            <div class="button-group">
                <button class="confirmar">Ofertar Valor</button>
            </div>
        </form>

    </div>
    </div>
    
</section>
