.content{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.title {
    text-align: center;
    margin: auto;
    max-width: 1300px;
    font-family: "Lexend",sans-serif;
    font-size: medium;       
}
section .text-title{
    font-size: medium;
    padding: 20px 40px 20px 0px;
    font-size: 20px;
    font-weight: 300;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 2rem;
}