.content{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.title {
    text-align: center;
    margin: auto;
    max-width: 1300px;
    font-family: "Lexend",sans-serif;
    font-size: medium;       
}

h2 {
    margin: 0;
    font-size: 2rem;
}