<section>
    <div class="toolbar-page">
        <img ngSrc="assets/icons/login.png" width="48" height="48">
        <h1>Login</h1>
        

    </div>
    <div class="form-page">
        <form action="" method="post">
           
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="user do login" fontIcon="person"></mat-icon>
                <input type="text" name="name" placeholder="Seu Nome">
            </div>

            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="senha do user" fontIcon="password"></mat-icon>
                <input type="password" name="password" placeholder="Senha">
            </div>
            <div class="button-group">
                <button class="confirmar">Login</button>
            </div>
        </form>

    </div>
</section>