<div class="card-ticket">
   
    <div class="content">
        <div class="title">
            <h2>{{ data?.ticket?.title }}</h2>
          </div>
          <div class="sub-title">{{ data?.ticket?.subtitle }}</div>
          <div class="description">{{ data?.ticket?.description}}</div>
    </div>
    
    <div class="price-ticket">R$ {{ data?.ticket?.price | number: '1.2-2' }}</div>
    <div class="action-group">
        <div *ngIf="showButtonAvailable" class="action-ticket"><button class="button-text" (click)="comprar(data?.id)">Comprar</button></div>
        <div *ngIf="showButtonMyTickets" class="action-ticket"><button class="button-text"  (click)="publicar(data?.id)">Publicar</button></div>
        <div *ngIf="showButtonMyTickets" class="action-ticket"><button class="button-icon"  (click)="editar()" color="primary" aria-label="Editar">
                <mat-icon fontIcon="edit"></mat-icon></button>
        </div>
    </div>

</div>
