<section>
    <div class="toolbar-page">
        <img ngSrc="assets/icons/logo-sign-in.png" width="48" height="48">
        <h1>Crie sua conta</h1>
        

    </div>
    <div class="form-page">
        <form action="" method="post">
           
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                <input type="text" name="name" placeholder="Seu Nome">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="badge"></mat-icon>
                <input type="text" name="name" placeholder="CPF">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                <input type="text" name="name" placeholder="E-mail">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="key"></mat-icon>
                <input type="password" name="name" placeholder="Senha">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="password"></mat-icon>
                <input type="password" name="name" placeholder="Confirmar senha">
            </div>
            <div class="button-group">
                <button class="cancelar">Cancelar</button>
                <button class="confirmar">Confirmar</button>
            </div>
        </form>

    </div>
</section>
