<section>
    <div class="toolbar-page">
        <img ngSrc="assets/icons/login.png" width="48" height="48">
        <h1>Login</h1>
        

    </div>
    <div class="form-page">
        <form action="" method="post" (ngSubmit)="submitForm()">
           
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="user do login" fontIcon="person"></mat-icon>
                <input type="text" name="login" placeholder="Seu Login" [(ngModel)]="formData.login" minlength="3" required>
               <!--  <div *ngIf="formData.login?.length < 3 && formData.login" class="error">Login deve ter mais de 3 caracteres</div> -->
            </div>

            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="senha do user" fontIcon="password"></mat-icon>
                <input type="password" name="password" placeholder="Senha"  [(ngModel)]="formData.password" minlength="6" required>
                <!-- <div *ngIf="formData.password?.length < 6 && formData.password" class="error">Senha deve ter mais de 6 caracteres</div> -->
            </div>
            <div class="button-group">
                <button class="confirmar" type="submit" [disabled]="!isValidForm()">Login</button>
            </div>
        </form>

    </div>
</section>