<section>
    <div class="toolbar-page">
        <img ngSrc="assets/icons/sale-ticket.png" width="48" height="48">
        <h1>Venda seus Ingressos</h1>
        

    </div>
    <div class="form-page">
        <form action="" method="post">
           
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Titulo do Ingresso" fontIcon="toc"></mat-icon>
                <input type="text" name="title" placeholder="Titulo">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Valor do Ingresso" fontIcon="paid"></mat-icon>
                <input type="text" name="value" placeholder="Valor">
            </div>
            <div class="input-group">
                <mat-icon aria-hidden="false" aria-label="Descrição do Ingresso" fontIcon="description"></mat-icon>
                <input type="text" name="description" placeholder="Descrição">
            </div>
            <div class="button-group">
                <button class="cancelar">Cancelar</button>
                <button class="confirmar">Criar</button>
            </div>
        </form>

    </div>
