<div class="landing">
    <div class="image">
        <img ngSrc="assets/icons/add.png" width="48" height="48" id="icon-left">
        <img ngSrc="assets/login/back-landing.png" width="250" height="250">
        <img ngSrc="assets/icons/list.png" width="48" height="48" id="icon-right">
    </div>
    <div class="body">
        <div class="text-group">
            <img ngSrc="assets/icons/ticket.png" width="100" height="100">
            <h1>Venda seus ingressos para outras pessoas</h1>
        </div>
        <div class="button-group">
            <button class="login" (click)="goToPage('sign-in')">Login</button>
            <button class="create" (click)="goToPage('sign-up')">Criar Conta</button>
        </div>

    </div>
</div>
